html{
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: normal;
    overflow: auto;
    color: hsl(0deg 0% 29%);
}


header{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 64px;
}

.logo_text{
    color: dimgray;
    
}
.logo2{
    color: gray;
}
.header-left{
    display: inline-flex;
    align-items: center;
    padding: 0px 0px 0px 24px;
    line-height: 32px;
}
li{
    display: inline-flex;
    align-items: center;
    padding: 0px 16px 0px 0px;
    
}
a{
    text-decoration: none;
    color: rgb(61, 61, 61);
}
.header-nav{
    padding-right: 24px;
    
    
}

.mainbanner{
    padding: 32px 24px;
    background-color: hsl(210deg 5% 92%);
    display: flex;
   
}
#bannerimg{
    max-width: 100%;
    width: 60%;
    height: 60%;
}
#bannertext{
    align-items: center;
    font-weight: bolder;
    display: inline-block;
    position: relative;
    top: 80px;
    text-align: left;
    word-wrap: break-word;
    margin-left: 48px;
    font-size: 25px;
    width: 350px;
    color: rgb(61, 61, 61);
}
#bannertext p{
    font-size: 20px;
    width: 325px;
}
#bannertext button{
   width: 300px;
   height: 50px;
   background-color: rgb(61, 61, 61);
   color: white;
  font-size: large;
    border: none;
   text-decoration:none;
   margin-top: 16px;
}

.maininfo{
display: flex;
justify-content: space-evenly;


}

.infoimg h2{
   text-align: left;
   font-size: 32px;
}
.infoimg p{
    text-align: left;
    margin-top: 24px;
    margin-bottom: 32px;
}

.infoimg{
    margin-top: 32px;
    width: 55%;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 32px;
    color: rgb(80, 79, 79);
    text-align: left;
    

}
#imginfo{
    width: 100%;
    height: auto;
   

}
.card{
    display: flex;
    border-bottom: 2px solid lightgray;
    color: rgb(80, 79, 79);
    margin-top: 16px;
    height: 200px;
    
}

.card:hover{
    background-color: lightgray;
}

.sideinfo{
    
    border-left: 1px solid rgb(201, 201, 201);
}
#sideimg1{
   height: auto;
    margin: 16px 16px;
    width: auto;
}
.container{
    text-align: left;
    font-size: medium;
    padding-top: 32px;
    
}
.container a{
    color: rgb(0, 140, 255);
}

.secondinfo{
    background-color: hsl(210deg 5% 92%);
}

#title3 {
    padding-top:32px;

}

#secondimg{
    max-width: 100%;
    height: auto;
}
.secondcard{
    margin-top: 32px;
    padding-bottom: 32px;
}
.secondcontainer{
    display: inline-block;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 60%;
    margin: 1%;
    background-color: white ;

}
.secondcaption{
    padding-left: 16px;
    padding-right: 16px;
}
#courses{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.secondcaption h3{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 0%;

}
.secondcontainer p{
    text-align: left;
    font-size: small;
    margin: 0px;
    padding-bottom: 24px;
}
.thirdinfo{
    padding-top: 32px;
    padding-bottom: 32px;
}
.sideinfo1{

}
.card1{
    display: flex;
    color: rgb(80, 79, 79);
    margin-top: 16px;
    height: 200px;
}
.card1:hover{
    background-color: lightgray;
}
.infoimg1{
    margin-top: 32px;
    width: 55%;
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 32px;
    color: rgb(80, 79, 79);
    text-align: left;
}
.infoimg1 h3{
    margin-top: 24px;
    margin-bottom: 0px;
}
.infoimg1 p{
    margin-top: 8px;
    margin-bottom: 32px;
}
footer{
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-top: lightgray .5px solid;
    padding-left: 24px;
    margin-top: 16px;
}

@media screen and (min-width: 100px) and (max-width: 550px) {
/*THIS IS THE HEADER SECTION*/
header{
    display: inline-flex;
}
.logo_text{
    display: none;
    
}
.logo2{
    display: none;
}
.nav_text{
    display: none;
}
.nav_icon{
    display: inline-block;
    align-items: center;
    justify-content: space-around;
    padding-left: 32px;
    left: auto;
}
}
@media screen and (min-width: 550px) and (max-width: 9999px) {
.nav_icon{
    display: none;
}
.mobile_card{
    display: none;
}
#mobile_text{
    display: none;
}
}
@media screen and (min-width: 100px) and (max-width: 900px) {
    /* THIS IS MAIN BANNER SECTION */
.mainbanner{
    display: inline-block;
    padding: 0px 0px 32px 0px;
}
#bannerimg{
    width: 100%;
    height: 30%;
}
#bannertext{
    top: 0px;
    margin-left: 16px;
}
/* THIS IS FOR THE INFORMATION SECTION */
.sideinfo{
    display: inline-block;
}
.infoimg{
    display: none;
}
.card{
    display: none;
}
.mobile_card{
    padding: 16px 16px 0px 16px;
    display: inline-block;
    
}
#sideimg_mobile{
    height: 20%;
    
    max-width: 100%;
    min-width: 30%;
}
.container{
    padding-top: 0px;
    width: 70%;
    padding-left: 16px;
    
}
.secondcontainer{
    display: none;
}
.secondinfo{
    background-color: white;
    margin: 0px;
    padding-bottom: 16px;
}

.secondcard{
    margin: 16px;
}
#mobile_text{
    display: inline-block;
    width: 95%;
    max-width: 100%;
    font-size: 24px;
    background-color: rgb(219, 219, 219);
    padding: 16px 16px 24px 16px ;
    margin: 8px;
    text-align: left;
}
}